.poker {
    height: 100px;
    width: 65px;
    border: 1px solid black;
    background: white;
    border-radius: 5px;
    position: absolute;
    -webkit-transtion: 1s linear;
}

.poker .top {
    height: 15%;
}

.middle {
    height: 68%;
}

.poker .spade:before {
    content: '黑桃';
    font-size: 10px;
}

.poker .diamond:before {
    content: '方片';
    font-size: 10px;
}

.poker .heart:before {
    content: '红桃';
    font-size: 10px;
}

.poker .club:before {
    content: '方片';
    font-size: 10px;
}

.poker .top:before {
}

.poker .bottom:before {
}

